.movies {
  width: 70%;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;

  padding-top: 20px;
}

.list_title {
  font-size: 25px;
  font-weight: 700;
}

.poster {
  height: 300px;
}

.poster:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25),
    0 10px 10px rgba(255, 255, 255, 0.22);
}

.main_movie {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_movie::after {
  content: "";
  width: 250%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to right,
    #000 0%,
    rgba(0, 0, 0, 0.25) 25%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.25) 75%,
    #000 100%
  );
  z-index: 2;
}
.content {
  width: 400px;
  z-index: 100;
  text-align: left;
  margin-right: 850px;
}
.logo {
  background-size: 30%;
  width: 1300px;
  height: 350px;
  background-repeat: no-repeat;
}
.title {
  font-size: 25px;
  font-weight: 700;
}

.overview {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
