@import url(movie.css);
@import url(modal.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Orbitron&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

main {
  width: 100%;
}
